{% extends "base.html "%} {% block title %} Categories (to be deleted){%endblock %} {% block content %}
<div class="container">
    <h1 class="text-center">Tasks' categories</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description|truncatechars:50 }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Task Actions"></div>
                    <form action="{% url 'category_detail' category.pk %}" method="get" style="display: inline">
                        <button type="submit" class="btn btn-info">Details</button>
                    </form>
                    <form action="{% url 'category_delete' category.pk %}" method="get" style="display: inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'planner_app/button_row.html' with url='category_create' text="Add New Category" back_url='home' %}
</div>
{% endblock %}