{% extends "base.html" %}

{% block content %}
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>{{ category.name }}</h1>
        <table class="table table-bordered">
            <tr>
                <th>Category</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
        </table>
        <div class="btn-group" role="group" aria-label="Task Actions">
            <a href="{% url 'category_edit' category.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'category' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
</body>

</html>

{% endblock %}