{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Right Side: Explanatory Text -->

        <div class="col-md-8">
            <h1>Welcome to TaskPlanner</h1>
            <p>
                This is my first attempt at creating a web app.
                The purpose of this app is to manage keep track
                of various tasks.
            </p>
        </div>

        <!-- Left Side: Links -->
        <div class="col-md-4">
            <div class="list-group">
                <a href="{% url 'task' %}" class="list-group-item list-group-item-action">Tasks</a>
                <a href="{% url 'category' %}" class="list-group-item list-group-item-action">Categories</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}